//- Для рендерінгу
//- Викликається:

//- +form({
//- 	class_form: ClassName, # Назва класу форми
//- 	item: [ # Масив об'єктів даних, що передаємо окремо для кожного елементу форми
//- 		{
//- 			type: # Тип єлементу форми,
//- 			id: # ID елементу форми,
//- 			class: # Клас елементу форми,
//- 			name: # значення атрибуту NAME елементу форми,
//- 			placeholder: # значення атрибуту PLACEHOLDER елементу форми,
//- 			id_form: # Значення ID форми. Може використовуватись в якості атрибуту, коли елемент по за межами форми,
//- 			autofocus: # Встановлення атрибуту автофокусу,
//- 				autofocus - активування
//- 			required: # Встановлення атрибуту для встановлення обов'язкового заповнення,
//- 				required - активування
//- 			disabled: # Встановлення атрибуту, що робить елемент неактивним,
//- 				disabled - активуваня
//- 			pattern: # Встановлення регулярного вираження в поле вводу,
//- 			min: # Мінімальне значення для числового поля вводу,
//- 			max: # Максимальне значення для числового поля вводу,
//- 			step: # Дискретне значення кроку зміни значення числового поля вводу,
//- 			pos_label: # Вказує позицію встановлення label,
//- 				1 - попереду елемента форми,
//- 				2 - позаду елемента форми,
//- 			label: # Текст в тегу label
//- 		}
//- 	]
//- })

mixin form(data)
	+b.form(class=data.class_form ? data.class_form : "")
		form
			each item in data.item
				+e.DIV.item
					if item.pos_label == 1
						label(for= item.id)= item.label
					case item.type
						when "text"
							input(type="text" id= item.id class= item.class name=item.name placeholder= item.plh form= item.id_form autofocus= item.autofocus required= item.required disabled= item.disabled pattern= item.pattern)
						when "password"
							input(type="password" id= item.id class= item.class name=item.name placeholder= item.plh form= item.id_form autofocus= item.autofocus required= item.required disabled= item.disabled pattern= item.pattern)
						when "email"
							input(type="email" id= item.id class= item.class name=item.name placeholder= item.plh form= item.id_form autofocus= item.autofocus required= item.required disabled= item.disabled pattern= item.pattern)
						when "url"
							input(type="url" id= item.id class= item.class name=item.name placeholder= item.plh form= item.id_form autofocus= item.autofocus required= item.required disabled= item.disabled pattern= item.pattern)
						when "date"
							input(type="date" id= item.id class= item.class name=item.name placeholder= item.plh form= item.id_form autofocus= item.autofocus required= item.required disabled= item.disabled pattern= item.pattern)
						when "time"
							input(type="time" id= item.id class= item.class name=item.name placeholder= item.plh form= item.id_form autofocus= item.autofocus required= item.required disabled= item.disabled pattern= item.pattern)
						when "month"
							input(type="month" id= item.id class= item.class name=item.name placeholder= item.plh form= item.id_form autofocus= item.autofocus required= item.required disabled= item.disabled pattern= item.pattern)
						when "week"
							input(type="week" id= item.id class= item.class name=item.name placeholder= item.plh form= item.id_form autofocus= item.autofocus required= item.required disabled= item.disabled pattern= item.pattern)
						when "number"
							input(type="number" id= item.id  class= item.class name=item.name placeholder= item.plh min= item.min max= item.max step= item.step form= item.id_form autofocus= item.autofocus required= item.required disabled= item.disabled pattern= item.pattern)
						when "range"
							input(type="range" id= item.id  class= item.class name=item.name min= item.min max= item.max step= item.step form= item.id_form autofocus= item.autofocus required= item.required disabled= item.disabled)
						when "search"
							input(type="search" id= item.id  class= item.class name=item.name placeholder= item.plh form= item.id_form autofocus= item.autofocus required= item.required disabled= item.disabled pattern= item.pattern)
						when "tel"
							input(type="tel" id= item.id  class= item.class name=item.name placeholder= item.plh form= item.id_form autofocus= item.autofocus required= item.required disabled= item.disabled pattern= item.pattern)
						when "color"
							input(type="color" id= item.id  class= item.class name=item.name form= item.id_form autofocus= item.autofocus required= item.required disabled= item.disabled)
						when "file"
							input(type="file" id= item.id class= item.class name=item.name form= item.id_form required= item.required disabled= item.disabled)
						when "checkbox"
							+e.DIV.checkbox
								input(type="checkbox" id= item.id class= item.class name=item.name checked= item.checked form= item.id_form required= item.required disabled= item.disabled)
								label
						when "radio"
							+e.DIV.radio
								input(type="radio" id= item.id class= item.class name= item.name checked= item.checked form= item.id_form required= item.required disabled= item.disabled)
								label
						when "textarea"
							textarea(id= item.id class= item.class name=item.name placeholder= item.plh form= item.id_form autofocus= item.autofocus required= item.required disabled= item.disabled pattern= item.pattern)
						when "select"
							+e.DIV.select
								select(id= item.id class= item.class name=item.name form= item.id_form required= item.required disabled= item.disabled)
									each option in item.options
										option= option.text
						when "submit"
							input(type="submit" value= item.value id= item.id class= item.class form= item.id_form)
					if item.pos_label == 2
						label(for= item.id)= item.label